<%- include('../includes/header.ejs', {titulo: 'Editar produtos' }) %>

<main>
    <h2>Editando Categoria</h2>
    <form action="/categorias/<%= categoria.id_categoria %>/editar" method="post" class="form">
        <div class="form-group">
            <label for="nome_categoria">Nome da Categorias:</label>
            <input type="text" id="nome_categoria" name="nome_categoria" value="<%= categoria.nome_categoria %>" required>
        </div>
        <button type="submit" class="btn btn-success">Salvar Alterações</button>
        <a href="/categorias" class="btn btn-secondary">Cancelar</a>
    </form>
</main>


<%- include('../includes/footer.ejs') %>