    <Footer>
      <div class="d-flex justify-content-evenly align-items-center p-5">
        <!-- Suporte -->
         <div>
          <h5>Suporte</h5>
          <ul class="list-unstyled" id="contato">
            <li><i class="bi bi-telephone-fill me-2"></i>(18)****-****</li>
            <li><i class="bi bi-envelope-fill me-2"></i>contato@contato.com</li>
            <li><i class="bi bi-mensagen-fill me-2"></i>Envie nos uma mensagem</li>
          </ul>
         </div>
        <!-- Acessos -->
         <div>
          <h5>Acessar</h5>
          <ul class="list-unstyled">
            <li><a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="/admin">Dashboard</a></li>
            <li><a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="/produtos/">Produtos</a></li>
            <li><a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="/categorias">Categorias</a></li>
            <li><a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="#">Relatórios</a></li>
            <li><a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="/usuarios">Usuários</a></li>
            <li><a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="#">Movimentações</a></li>
          </ul>
         </div>
      </div>
      <hr class="my-3">
      <div class="text-center mt-3">
        <div class="text-center">
          <p class="text-decoration-none text-muted">&copy; 2024 Sistema AgriTech - Projeto Sesi/Senai</p>
        </div>
      </div>
    </Footer>
  </body>
</html>