
<%- include('../includes/header_index.ejs', {titulo: 'AgriTech'}) %>



  <!-- Incluindo Carrocel-->

  <!-- <div id="carouselExampleIndicators" class="carousel slide carrosel-item">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../img/tec.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../img/agricultores.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../img/TRATORES-1600x900.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div> -->
  <!-- Carrossel -->
<div id="carouselExampleIndicators" class="carousel slide carrosel-item">
  <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
      <div class="carousel-item active">
          <img src="../img/tec.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
          <img src="../img/agricultores.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
          <img src="../img/TRATORES-1600x900.jpg" class="d-block w-100" alt="...">
      </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
  </button>
</div>

  <!-- Efeito Parallax com Ondas
  <section class="ondas-box">
    <div class="onda" id="onda1"></div>
    <div class="onda" id="onda2"></div>
    <div class="onda" id="onda3"></div>
    <div class="onda" id="onda4"></div>
</section> -->


  <main class="container-fluid">
<!-- Recomendado -->
<div class="text-center mt-5">
    <h1>AgriTech</h1>
    <span>Aproveite nossos melhores produtos para o seu negócio</span>
   </div>

       <!--Produto-->
       <section class="d-flex align-items-center w-100 mt-3">
        <div class="d-flex flex-column w-50 p-3 gap-4 justify-content-center">
            <h2>Bem-vindo à AgriTech Solutions!</h2>
            <span>
                Na AgriTech, nossa missão é fornecer soluções inovadoras e de alta qualidade para fortalecer o agronegócio brasileiro. Com tecnologias de ponta e um compromisso com a sustentabilidade, nossos produtos foram desenvolvidos para aumentar a produtividade, preservar o meio ambiente e impulsionar o sucesso de cada safra.
            </span>
            <span>
                Estamos ao lado dos produtores em cada etapa, entendendo as necessidades do campo e trazendo soluções eficientes que fazem a diferença. Seja para uma pequena propriedade ou uma grande produção, temos o que você precisa para garantir resultados sólidos e duradouros.
            </span>
            <h6>Colha mais com quem entende do campo. Cultive conosco!</h6>
            <div>
             <a href="..." class="btn btn-edit w-5 text-white">Saiba mais</a>
           </div>
          
          </div>
        </div>
        <br>
        <div class="banner_imagens">
          <figure><img src="../img/mao_terra.jpg" alt=""></figure>
          <figure><img src="../img/agricultores.jpg" alt=""></figure>
          <figure><img src="../img/foto2.jpg" alt=""></figure>
          <figure><img src="../img/foto3.jpg" alt=""></figure>
          <figure><img src="../img/trigo.jpg" alt=""></figure>
          <figure><img src="../img/298c1d23e51f9d15c3a472c24b851fa8.jpg" alt=""></figure>
          <figure><img src="../img/aa067f8ada6a1d0b1333a2e6faba9e5f.jpg" alt=""></figure>
          <figure><img src="../img/5dcb747387bbcb7b962e24c4e2ff8c25.jpg" alt=""></figure>
          <figure><img src="../img/b8a37985105e70064183c02f72550676.jpg" alt=""></figure>
      </div>
       </section>

      <br>
</main>

<!-- <script>
  var onda1 = document.getElementById('onda1')
        var onda2 = document.getElementById('onda2')
        var onda3 = document.getElementById('onda3')
        var onda4 = document.getElementById('onda4')

        window.addEventListener('scroll', function(){
            var rolagemPos = window.scrollY

            onda1.style.backgroundPositionX = 400 + rolagemPos * 4 + 'px'
            onda2.style.backgroundPositionX = 300 + rolagemPos * -4 + 'px'
            onda3.style.backgroundPositionX = 200 + rolagemPos * 2 + 'px'
            onda4.style.backgroundPositionX = 100 + rolagemPos * -2 + 'px'
        })
</script> -->
       

<%- include('../includes/footer_index.ejs') %>